body {
    min-height: 100vh;
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
     background: rgb(180, 180, 180);
  }
  
  h1 {
    font-weight: 700;
    font-size: 40px;
    margin-top: 10rem;
    text-align: center; 
  }
  
  form {
    margin-top: 2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
  }
  
  form input {
    width: 300px;
    height: 30px;
    outline: none;
    background: #f1f1f1;
    border: none;
    padding: 1rem 2rem;
    color: #333;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
  }
  ::placeholder {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    transition: top 0.2s ease-in-out;
    z-index: 5000
  }
  
  input:focus::placeholder{
  position: absolute;
  top: 8px;
  }
  
  .card-pokemon{
    width: 100%;
    height: auto;
    max-width: 500px;
    margin: 5rem auto;
    position: relative;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .3);
    padding-top: 3rem;
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  .pokemon-nom {
    text-align: center;
    text-transform: uppercase;
  }
  
  .card-image-container{
    width: 100px;
    height: 100px;
    display: block;
  
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    border-radius: 50%;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.3)
  }
  
  .card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .pokemon-id{
    position: absolute;
    top: 0;
    right: 1rem;
    font-weight: bold;
  }
  
  
  .pokemon-type {
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 0.5rem 0;
    line-height: 40px;
    color: #f1f1f1;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .pokemon-type span {
    color: #333;
    font-weight: 700;
  }
  
  
  
  .pokemon-stats {
    width: 100%;
    display:flex;
    align-items:center;
    flex-direction: column;
    margin-bottom:3rem;
  }
  .pokemon-stats div {
    display: flex;
    width: 80%;
    justify-content: space-between;
  }
  
  .pokemon-stats div p:nth-child(1), .pokemon-stats div p:nth-child(2){
    font-weight: 700;
    text-transform: uppercase;font-size: 18px;
  }
  .pokemon-stats div p:nth-child(2){
    color: green;
  }
  